.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
}
.block_key_holder {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}
.header__title {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 64px;
}
.title_key_holder {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 0;
  padding-top: 0;
  z-index: 1;
}
.subtitle_key_holder {
  width: 388px;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
  z-index: 1;
}
.subtitle__link {
  color: #2f80ed;
  text-decoration: none;
}
.illustration_key_holder {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__square_pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
}
.description {
  display: flex;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  min-width: 784px;
  justify-content: space-between;
}
.brief {
  width: 175px;
}
.brief-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  color: #2f80ed;
}
.main-text {
  width: 80%;
  min-width: 784px;
  height: 100%;
  margin-left: auto;
}
.brief-paragraph1_text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.brief-paragraph2 {
  margin-top: 30px;
}
.conclusion {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;  
}
.brief-paragraph2_text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.brief-paragraph3 {
  margin-top: 30px;
}
.brief-paragraph3_text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
.digits {
  margin-top: 100px;
}
.section-title__digits {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.title__digits {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 auto 0 auto;
}
.section-subtitle__digits {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.subtitle__digits {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto 0 auto;
}
.digits__table {
  display: flex;
  width: 1100px;
  height: 100%;
  margin: 0 auto 100px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.digits__cells {
  width: 250px;
  height: 100%;
  margin-top: 60px;
  margin-left: 0;
}
.digits__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.digits__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: auto;
}
.digits__org-text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.feynman {
  display: flex;
  height: 890px;
  margin-top: 100px;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
}
.title-feynman{
  margin-left: auto;
  margin-right: auto;
  width: 648px;
  margin-top: 100px;
  height: 250px;
  z-index: 2;
}
.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.subtitle-feynman {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
.link-feynman {
  position: absolute;
  top: 50%;
  right: 48px;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
.feynman__logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}
.kaufman {
  display: flex;
  position: relative;
  background-color: #1f1f1f;
  color: white;
  height: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}
.section-title_theme_dark {
  margin-top: 90px;
}
.title_theme_dark {
  background-color: #1f1f1f;
  color: white;
}
.section-subtitle_theme_dark {
  background-color: #1f1f1f;
  color: white;
}
.subtitle-digits_theme_dark {
  background-color: #1f1f1f;
  color: white;
}
.digits__table_theme_dark {
  background-color: #1f1f1f;
  color: white;
  z-index: 1;
  margin-bottom: 90px;
}
.digits__cells_dark_theme {
  width: 200px;
  margin-top: 80px;
  z-index: 6;
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  bottom: 90px;
  z-index: 5;
}
.footer {
  display: flex;
  height: 100%;
  background-color: #1f1f1f;
  color: white;
}
.footer__columns {
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  min-height: 350px;
  height: 350px;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
.column__copyright {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content__info {
  width: auto;
  height: 100%;
  margin-left: auto;
}
.column__copyright-1 {
  position: relative;
  flex-direction: column;
  flex-basis: 711px;
}
.footer__logo {
  width: 228px;
  height: 32px;
  margin-top: 0;
  margin-left: 0;
}
.footer__author {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  height: auto;
}
.author__text {
  line-height: 1.25;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}
.content__title {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}
.content__text {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
.content__text-last {
  margin-bottom: 16px;
}
.content__logo {
  margin-right: 10px;
  margin-left: 0;
  width: 16px;
  height: 16px;
}
